/*style.css for floatyale.com*/

li a:link, a:visited {
	position: relative;
	left: 10px;
	color:black;
	/*color: #5F498A;*/
	text-decoration: none;
	font-family: 'Quicksand';
	font-weight: normal;
	text-transform: uppercase; 
	font-size: 14px;
	display: block;
    width: 140px;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 18px;
    text-align: center;
    z-index: 10;
    font-size: 17px;
}

h1, h2, h3{
	font-family: 'Dosis', sans-serif;
}

a:hover {
	background-color: rgba(255,255,255,.7);
	color: #54D4EE;
}

ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
}

li {
    display: inline;
    float: left;
}

a{
	text-decoration:none;
}

#headerbar{
	position: absolute;
	top: 10px;
	width: 100%; 
	height: 60px;
    z-index: 1;
    overflow: hidden;
    border-bottom: solid;
    border-width: 2px;
    border-color: #52a3e3;
    background-color: white;
    margin-right: 0px;
}

#headerbar_content{
	float: right;
	color: black;

}

#headerbar_logo{
	float:left;
}

#bottomcontent{
	border-top: solid;
	border-color: #52a3e3;
	border-width: 2px;
	position: absolute;
	margin-top: 550px;
	background-color: white;
	width: 100%;
}

#homecontent{
	margin-top: 50px;
	margin-left: 10%;
	width: 40%;
	float:left;
}

#homecontent h1 {
	font-family: 'Dosis', sans-serif;
	font-size: 22px;
	color: #5251b1;
}

#homecontent h2 {
	font-size: 18px;
	color: black;
	display: inline-block;
}
#homecontent h3{
	font-size: 18px;
	font-family: 'Didact Gothic';
	font-weight: lighter;
	color: black;
}

#homelogo {
	float: left;
	margin-top: 50px;
	margin-left: 13%;
	min-width: 100px;
	height: auto;
	max-width: 40%;
}

#home img {
	min-width: 100px;
	max-width: 90%;
	height: auto;
}

#mailchimpbox{
	position: absolute;
	top: 100px;
	left: 20px;
	width: 210px;
	border-right: none;
	border-color: gray;
	border-width: 1px;
}

.fb-like{
	margin-top: 15px;
}

#righthash{
	float:right;
	height: 20px;
	min-width: 150px;
	max-width: 30%;
	position: fixed;
	margin-left: 57%;
	z-index: 1;
}

#rightsidebar{
	float: right;
	min-width: 20%;
	max-width: 170px;
	height: 0px;
	border-width: 1px;
	border-color: gray;
	margin-top: 10px;
	margin-left: 50px;
}

#indexmidcontent{
	position: absolute;
	height: auto;
	width: 90%;
	top: 110px;
	left: 60px;

}


#middlecontent{
	position: absolute;
	height: auto;
	margin-bottom: 60px;
	padding-bottom: 80px;
	width: 90%;
	top: 110px;
	left: 60px;
	background-color: rgba(255,255,255,.7);

}

#background {
	position:absolute;
	background-image: url('./images/torie1.jpg');
	min-height: 100%;
	height: auto;
	width: 100%;
	top: -10px;
	left: -10px;
	overflow: auto;
}

.bold{
	font-weight: bold;
}

.larger{
	font-size: 20px;
}

#homecontent .alignright{
	text-align: right;
}

#aboutcontent {
	position: relative;
	left: 100px;
	width: 600px;
	padding: 30px;
	font-family: 'Didact Gothic';
}
#aboutcontent p{
	position:relative;
	left: 30px;
}

a .bar1{
	font-family: 'Dosis', sans-serif;
	padding: 10px;
	background-color:rgba(62,163,121,.7);
	font-size:22px;
	min-width: 10%;
	max-width: 400px;
	text-align: center;
	margin-bottom: 5px;
	border-radius: .5em;
	text-decoration: none;
	color: white;



}
a .bar2{
	font-family: 'Dosis', sans-serif;
	padding: 10px;
	background-color:rgba(62,163,77,.7);
	font-size:22px;
	min-width: 10%;
	max-width: 400px;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: .5em;



}

a:hover .bar1 {
	background-color: rgba(62,163,121,.5);
	color: white;
	padding:none;
}
a:hover .bar2 {
	background-color: rgba(62,163,77,.6);
	color: white;
	padding:none;
}

#aboutcontent h1{
	color: rgba(62,80,163,1);
}

#meettheteam p{
	position: relative;
	left: 50px;
	width: 700px;
	font-family: 'Didact Gothic';

}
#meettheteam{
	position: relative;
	left: 80px;
}

.courseinfo{
	position:relative;
	left: 50px;
	color: #333333;

}

.coursetitle{
	position:relative;
	color: rgba(62,80,163,1);
	left: 30px;
	font-size: 18px;
}

#joinus{
	font-family: 'Dosis', sans-serif;
	font-weight: lighter;
	min-height: 50px;
	width: 100%;
	/*background-color: #FF8500;*/
	background-color: #E6E6E6;
	border-radius: .5em;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	/*font-family: 'Didact Gothic';*/
	color: black;
	margin-bottom: 4px;
}

#joinus h2{
	font-size: 22px;
	color: #2D1375;
}

#joinus h3{
	font-size: 18px;
	font-family: 'Didact Gothic';
	font-weight: lighter;
	color: white;
}

#joinus:hover {
	background-color:#FFA6A6;
}

#subscribe {
	font-family: 'Dosis', sans-serif;
	font-weight: lighter;
	min-height: 50px;
	width: 100%;
	/*background-color:#FFB600 ;*/
	background-color: #E6E6E6;
	border-radius: .5em;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	/*font-family: 'Didact Gothic';
	font-weight: lighter;*/
	color: black;
}

#subscribe h3{
	font-size: 18px;
	font-family: 'Dosis', sans-serif;
	font-weight: lighter;
	color: white;
}

#subscribe:hover {
	background-color:#FFA6A6;
}

#mc_embed_signup {
	min-width: 400px;
	width: 50%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#footer{
	position:relative;
	margin-top: 70px;
	width: 40%;
	height: 70px;
	background-color: gray;
	color:white;
	font-family: 'Dosis', sans-serif;
	text-align: center;
}